<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header mb-5">
          <h5 class=" card-category">Let data science guide us...</h5>
          <h3 class=" card-title">Team 6 | Cohort 6</h3>
        </div>
        <div class=" card-body">
          <div class=" typography-line">
            <h1>Why This project?</h1>
          </div>
          <div class=" typography-line">
            <p>
              A challenge, a horizon, a mission to accomplish! from team 6 we are committed to make this project improve
              the lives of people, we have designed and created a tool to obtain an early diagnosis of hypertension,
              which is the first alert to doctors and patients to put hands to work in health care, this is not just a
              project, we hope this will SAVE LIVES!
            </p>
          </div>
          <div class=" typography-line">
            <span> Our Commitment </span>
            <blockquote>
              <p class=" blockquote blockquote-danger">
                "We firmly believe that data science applied in the right way will improve people's lives, and we are
                committed to using our knowledge for human growth. " <br />

                <br />

                <small> - Team 6 | Cohort 6 </small>
              </p>
            </blockquote>
          </div>
          <div class=" typography-line">
            <span> Inclusivity </span>
            <p class=" text-primary">
              Data science to make society more inclusive, for all people...
            </p>
          </div>
          <div class=" typography-line">
            <span> Opportunity </span>
            <p class=" text-info">
              Opportunities to create, to show what we can do, opportunities for everyone...
            </p>
          </div>
          <div class=" typography-line">
            <span> Responsibility </span>
            <p class=" text-success">
              It is our responsibility to use our knowledge for the common good...
            </p>
          </div>
          <div class=" typography-line">
            <span> Power </span>
            <p class=" text-warning">
              The power to transform the world, the power to help people, this is the power of a better tomorrow...
            </p>
          </div>
          <div class=" typography-line">
            <h2>
              Our Team <br />

              <small> this is the proof that together we can do it all! </small>
            </h2>
          </div>
          <div class=" typography-line">
            <div class=" row">
              <div class=" col-md-3">
                <a href="https://www.linkedin.com/in/cindy-paola-meneses-ricaurte" target="_blank">
                  <img alt="..." class=" avatar" src="assets/img/CM.jpg" />
                  <h5>Cindy Meneses</h5>
                </a>
                <ul class=" list-unstyled">
                  <li>Innovative</li>
                  <li>Persevering</li>
                  <li>Project Manager</li>
                </ul>
              </div>
              <div class=" col-md-3">
                <a href="https://www.linkedin.com/in/jimmy-mogollon" target="_blank">
                  <img alt="..." class=" avatar" src="assets/img/JM.jpg" />
                  <h5>Jimmy Mogollon</h5>
                </a>
                <ul class=" list-unstyled">
                  <li>Visionary</li>
                  <li>Intrepid</li>
                  <li>software developer</li>
                </ul>
              </div>
              <div class=" col-md-3">
                <a href="https://www.linkedin.com/in/marcelaocampo/" target="_blank">
                  <img alt="..." class=" avatar" src="assets/img/MO.jpg" />
                  <h5>Marcela Ocampo</h5>
                </a>
                <ul class=" list-unstyled">
                  <li>Creative</li>
                  <li>Ingenious</li>
                  <li>Economist</li>
                </ul>
              </div>
              <div class=" col-md-3">
                <a href="https://www.linkedin.com/in/santiago-de-la-cuesta-%C3%A1vila-936470205/" target="_blank">
                  <img alt="..." class=" avatar" src="assets/img/SD.jpg" />
                  <h5>Santiago de la Cuesta</h5>
                </a>
                <ul class=" list-unstyled">
                  <li>Analytical</li>
                  <li>Creator</li>
                  <li>Economist</li>
                </ul>
              </div>
              <div class=" col-md-3">
                <a href="https://www.linkedin.com/in/dawid-junnco" target="_blank">
                  <img alt="..." class=" avatar" src="assets/img/DJ.jpg" />
                  <h5>Dawid Junnco</h5>
                </a>
                <ul class=" list-unstyled">
                  <li>Proactivity</li>
                  <li>Leadership</li>
                  <li>project manager</li>
                </ul>
              </div>
              <div class=" col-md-3">
                <a href="https://www.linkedin.com/in/andres-david-forero-martinez/" target="_blank">
                  <img alt="..." class=" avatar" src="assets/img/AF.jpg" />
                  <h5>Andres Forero</h5>
                </a>
                <ul class=" list-unstyled">
                  <li>New horizons</li>
                  <li>new insights</li>
                  <li>software developer</li>
                </ul>
              </div>
            </div>
          </div>
          <div class=" typography-line">
            <span> Source Code </span>
            <p>
              this is our source code, the holy grail that we believe every data scientist should follow.
            </p>
            <code>
              (knowledge + technology) * the desire to learn = <br>

              to the best data scientists in Colombia and the world!
            </code>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
