<div class=" content">
  <div class=" row">
    <div class=" col-md-5">
      <div class=" card card-user">
        <div class=" card-body">
          <img alt="..." class="center" src="assets/img/Family_Tree.png" />
          <div class=" author">
            <div class=" block block-one"></div>
            <div class=" block block-two"></div>
            <div class=" block block-three"></div>
            <div class=" block block-four"></div>
          </div>
        </div>
      </div>
    </div>
    <div class=" col-md-7">
      <div class=" card">
        <div class=" card-header mb-5">
          <h5 class=" card-category">learn a little about what we did </h5>
          <h3 class=" card-title">Team 6 | Cohort 6</h3>
        </div>
        <div class=" card-body">
          <div class=" typography-line">
            <h1>Random Forest</h1>
          </div>
          <div class=" typography-line">
            <p>
              Everything started from understanding the context and analyzing Christus Sinergia’s objective:
              predicting, based on risk factors, which patients would develop hypertension and which would not, That is,
              we wanted a binary result: the patient will suffer from hypertension or not, based on qualitative
              and quantitative categorical factors and non-categorical, numerical and continuous factors.<br>
              <br />
            </p>
            <p>
              Based on these characteristics, a Binomial Logistic Regression model was designed and trained, taking
              into account the Gender, BMI, Age, Weight, Glucose, Triglycerides and Total Cholesterol factors. This
              model allowed us to identify the significant variables to explain the final diagnosis. However, we found
              that the model was not entirely reliable.<br>

              <br />

              We then decided to develop a Random Forest algorithm that would take into account these variables,
              already defined as significant, but that would allow us to have a higher level of certainty. After several
              iterations, we decide this will be the model used to predict hypertension diagnoses in Christus Sinergia
              patients.<br>
              <br />
              <br />
            </p>
          </div>
          <div class=" typography-line">
            <span> Summary </span>
            <blockquote>
              <pre class=" blockquote blockquote-danger">
                Call:<br>
                randomForest(x = x, y = y, mtry = param$mtry, importance = TRUE)<br>
                              Type of random forest: classification
                                    Number of trees: 500<br>
                No. of variables tried at each split: 2<br>
                        OOB estimate of error rate: 5.19%
                Confusion matrix:<br>
                    0     1   class.error
                0 82778 8256 0.09069139<br>
                1 1203 89860 0.01321063<br>
              </pre>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
    <div class=" col-md-5">
      <div class=" card card-user">
        <div class=" card-body">
          <div class=" typography-line">
            <span> Power </span>
            <p class=" text-warning">
              The power to transform the world, the power to help people, this is the power of a better tomorrow...
            </p>
          </div>
          <div class=" typography-line">
            <h1>Training metrics</h1>
          </div>
          <div class=" typography-line">
            <p>
              As can be seen, the BALLOZED ACCURACY of our random forest model is 94%, a result that we believe
              accurately meets the needs of creating an early diagnosis of hypertension, we have used a classification
              type model with 500 trees, which has allowed us to generate greater accuracy in classifying the diagnoses
              of patients as hypertensive or non-hypertensive.
              <br />
              <br />
              these are the variables we use to train the model and their relevance to the training:
            </p>
            <pre class=" blockquote blockquote-danger">
                          rf variable importance

                              Importance
            avgIMC                 100.00
            Edad                    96.78
            avgColesterolTotal      80.03
            avgGlucosa              25.33

            </pre>
          </div>
        </div>
      </div>
    </div>
    <div class=" col-md-7">
      <div class=" card card-user">
        <div class=" card-body">
          <div class=" typography-line">
            <h2>
              <small> Confusion matrix and performance metrics </small>
            </h2>
          </div>
          <div class=" typography-line">
            <blockquote>
              <pre class=" blockquote blockquote-danger">
                Reference
                Prediction     0     1
                        0 20790   292
                        1  2093 22349

                              Accuracy : 0.9476
                                95% CI : (0.9455, 0.9496)
                    No Information Rate : 0.5027
                    P-Value [Acc > NIR] : < 2.2e-16

                                  Kappa : 0.8953

                Mcnemar's Test P-Value : < 2.2e-16

                            Sensitivity : 0.9871
                            Specificity : 0.9085
                        Pos Pred Value : 0.9144
                        Neg Pred Value : 0.9861
                            Prevalence : 0.4973
                        Detection Rate : 0.4909
                  Detection Prevalence : 0.5369
                      Balanced Accuracy : 0.9478

                      'Positive' Class : 1

              </pre>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
